.footer_container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2vh;
    width: 100%;
    box-sizing: border-box;
    height: 7vh;
    background-color: var(--light);
    color: var(--text-medium);
}