




body {
  background-image: url(../images/background3.jpg);
}

/* ---------- Navigation Bar ---------- */ 

.navbar div{
  display: flex;
}

.navbar div section{
  width: 100%;
  margin-left: 20px;
}

.subtitle{
  -webkit-text-fill-color: gold;
  -webkit-text-stroke: white 0.5px;
  background-color: #C35050;
  border-radius: 10px;
  display: inline;
  padding: 5px;
  font-size: 18px;
}

.nav{
  display: flex;
  justify-content: flex-end;
}

.navbar div ul{
  list-style: none;
  align-items: center;
  margin: 0px;
  background-color: #C35050;
  border-radius: 20px;
  margin-bottom: 20px;
}

.navbar div ul li{
  flex-basis: 8em;
  height: 100%;
}

.ordermenu {
  position: relative;
}

.ordermenu ul {
  display: none;
  position: absolute;
  padding: 0%;
  width: 180px;
  z-index: 56;
  top: 62px;
}

.ordermenu:hover ul {
  display: block;
}

.ordermenu ul li{
  display: flex;
  width: 220px;
}

.ordermenu ul li a img{
  padding-right: 7px;
}

.navbar div ul li a {
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  text-align: center;
  font-size: 23px;
  -webkit-text-fill-color: gold;
  -webkit-text-stroke: white 0.5px;
  display: table;
}

/* Navigation Bar small screen */
.navbarSmallScreen {
  display: none;
}

.navbarSmallScreen div {
  display: flex;
}

.navbarSmallScreen div section {
  width: 100%;
  margin-left: 20px;
}

.navbarSmallScreen ul {
  list-style-type: none;
}

.navbarSmallScreen a {
  text-decoration: none;
  -webkit-text-fill-color: gold;
  -webkit-text-stroke: white 0.5px;
  font-size: 20px;
}

.navSmall{
  list-style: none;
  margin: 0px;
  background-color: #C35050;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  height: 124px;
  align-items: center;
}

.burgerIcon {
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.burger{
  position: relative;
}

.burger li {
  padding: 10px;
}

.burger ul {
  display: none;
  position: absolute;
  right: 10px;
  top: 102px;
  background-color: #C35050;
  width: fit-content;
  text-align: center;
  padding: 0;
  z-index: 2;
  border: gold 1px solid;
  border-radius: 10px;
}

.burger:hover .firstLayer{
  display: block;
}

.ordermenuSmallScreen {
  position: relative;
}

.ordermenuSmallScreen ul{
  display: none;
  position: absolute;
  top: 0px;
  right: 135px;
  width: 150px;
  z-index: 2;
}

.ordermenuSmallScreen ul li a img{
  padding-right: 7px;
  padding-left: 2px;
}

.ordermenuSmallScreen ul li{
  display: flex;
  width: 150px;
}

.ordermenuSmallScreen ul li a {
  padding: 5px;
}

.ordermenuSmallScreen:hover ul{
  display: block;
}

@media screen and (max-width: 850px) {
  .navbar {
    display: none;
  }

  .navbarSmallScreen {
    display: block;
  }
}



/* ---------- Index- Main ---------- */

.main {
  background-image: url(../images/background4.jpg);
  background-size: cover;
  height: 700px;
  position: relative;
  border: 4mm ridge #C35050;
  margin-top: 10px;
}

.main img{
  border: 3mm ridge gold;
  margin: 30px;
}

.ButtonOrder {
  text-decoration: none;
  -webkit-text-fill-color: gold;
  -webkit-text-stroke: white 1px;
  background-color: red;
  padding: 20px;
  border-radius: 2px;
  font-size: 50px;
  width: fit-content;
  position: absolute;
  bottom: 200px;
  right: 75px;
  border: 2mm ridge gold;
}

/* ----------- Index- Restaurants Presentation ---------- */

.restaurantsPresentation{
  background-color: #C35050;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.restaurantsPresentation section{
  border: 3mm ridge #c35050c0;
  width: fit-content;
  background-color: rgb(236, 208, 116);
}

.restaurantsPresentation section article {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 5px;
  width: fit-content;
}

.restaurantsPresentation section article iframe{
  width: 300px;
  height: 300px;
}

.restaurantsPresentation section article ul {
  padding: 0px;
  list-style-type: none;
}

.restaurantsPresentation section h1{
  padding: 30px;
  padding-bottom: 0;
  padding-top: 5px;
  font-size: 25px;
}

.ButtonReservation{
  text-decoration: none;
  color: #C35050;
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  font-size: 20px;
  width: fit-content;
  margin: 20px;
  margin-left: 40px;
  border: 2px solid #c35050c0;
}

  /*-----------flags----------*/
  .flags section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }

  .flags section img{
    margin: 5%;
    width: 375px;
    border: 4mm ridge gold;
  }

/*------------Japan-------------*/
.japon{
  background-image: url(../images/fond.jpg);
}
.japon >img{
  width: 100%;
  height: auto;
}
#main{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 605px;
  padding: 10px;
  margin-top: 50px;
  margin-right: 50px;
  background-color : rgba(255, 254, 254, 0.85);
  border: 2px solid black;
  border-radius: 15px;
}

.menu img{
  height: 20px;
}
.colonne {
  display:flex;
}
.menu :first-child > img {
  width : 420px;
  height : auto;
}

.titre{
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  margin:5px;
}

/* ---------- China ------------ */
.china{
  background-image: url(../images/backgroundChina.webp);
}

/* ---------- Vietnam ------------ */
.vietnam{
  background-image: url(../images/backgroundVietnam.jpg);
}

/* ---------- Korea ------------ */
.korea{
  background-image: url(../images/backgroundKorea.avif);
}

/* ---------- Places ----------- */

.places main{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  flex-wrap: wrap;
} 
.places main section{
  margin: auto;
  margin-bottom: 5%;
  display: flex;
  justify-content:flex-end;
  width:65%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
  border: gold ridge 10px;
}

.places main section p{
  font-weight: 600;
  background-color : rgba(255, 254, 254, 0.85);
  border: 2px solid black;
  border-radius: 15px;
  padding: 2%;
  width: 200px;
  height: 400px;
}
.res1{
  background-image:url(../images/Nrestau.jpg);
  background-size: cover;
}

.res2{
  background-image:url(../images/brestau.jpg);
  background-size: cover;
}
.res3{
  background-image:url(../images/wrestau.jpg);
  background-size: cover;
}

/* ---------- Booking ---------- */

fieldset {
  background-color: #C35050;
  width: 60%;
  align-self: center;
  
}

.checkbox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.booking{
  display: flex;
  justify-content: center;
}


.bookingButton {
  margin-top: 20px;
}

.bookingTitle {
  text-align: center;
}

.divInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border: .2em solid gray;
	background: rgba(gray, .2);
	padding: .8em .9em;
	border-radius: 2em;
  width: 40%;
}

select {
	width: 42%;
	border: .2em solid gray;
	padding: .8em .9em;
	border-radius: 2em;
  background-color: white;
}

button {
	appearance: none;
	border: .2em solid gray;
	background: white;
	padding: .85em 1.5em;
	color: gray;
	border-radius: 2em;
	transition: 1s;
}

button:hover {
  background: gray;
  color: #fff;
}

input[type=date] {
  width: 40%;
	border: .2em solid gray;
	padding: .8em .9em;
	border-radius: 2em;
	color: gray;
}

input[type=time] {
  width: 40%;
	border: .2em solid gray;
	padding: .8em .9em;
	border-radius: 2em;
	color: gray;
}

input[type=checkbox] {
	appearance: none;
  background-color: #fff;
  margin: 0;
	font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid gray;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
	display: grid;
  place-content: center;
	&::before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em #E91E63;
		background-color: CanvasText;
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
		transform-origin: left top;
	}
	&:checked::before {
		transform: scale(1);
	}
}

.divCheckbox {
  display: flex;
  gap: 20px;
  justify-content: left;
  width: 23%;
}

@media screen and (max-width: 850px) {
  fieldset {
    width: 80%;
  }

  input[type=text] {
    width: 60%;
  }

  input[type=date] {
    width: 60%;
  }

  input[type=time] {
    width: 60%;
  }

  select {
    width: 66%;
  }
  
}

/* ---------- Footer ---------- */

footer{
  margin-top: 20px;
  display: flex;
  background-color: #C35050;
  padding: 20px;
  gap: 50px;
  justify-content: center;
  border-radius: 20px;
}


