/* ------ Style général ------ */
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: fit-content;
    background: linear-gradient(darkorange, red, darkorange);
    background-size: cover;
    padding-bottom: 1px;
}

h1{
    text-align: center;
}

h2{
    color: darkred;
}

header{
    padding: 20px;
    text-align: center;
}

body article {
    background-color: white;
}

main {
    margin-bottom: 200px;
}

p {
    text-align: justify;
    font-size: 120%;
    text-indent: 50px;
    margin: 10px;
}

dt, dd, .lienSite {
    font-size: 120%;
}

/* ------ Index ------ */
.index {
    height: 100%;
}

.index main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.index main h1 {
    font-size: 300%;
    margin-bottom: 0px;
}

.index main p {
    margin-top: 30px;
    font-size: 175%;
    text-indent: 0px;
}

.index article {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    box-shadow: 5px 5px 5px wheat;
    border-radius: 25px;
}

@media screen and (max-width: 200px) {
    .index main nav ul li:first-child a, .barNav ul li:first-child a {
        border-radius: 25px 0px 0px 25px;
    }
    
    .index main nav ul li:last-child a, .barNav ul li:last-child a {
        border-radius: 0px 25px 25px 0px;
    }
}

/* ------ NavBar ------- */
.barNav {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.barNav ul {
    border: 2px solid orange;
}

.index main nav ul, .barNav ul {
    display: flex;
    flex-direction: row;
    border-radius: 27px;
    width: max-content;
    padding: 0px;
}

.index main nav li, .barNav li {
    list-style-type: none;
}

.index main nav a, .barNav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 50px;
    font-size: 150%;
}

.barNav a{
    background-color: white;
    padding: 25px;
}

.barNav a {
    font-size: 120%;
}

.nav1:hover {
    background-color: brown;
    color: white;
}

.nav2:hover {
    background-color: rgb(209, 32, 32);
    color: white;
}

.nav3:hover {
    background-color: rgb(252, 90, 49);
    color: black;
}

.nav4:hover {
    background-color: rgb(255, 196, 0);
    color: black;
}

.index main nav ul li:first-child a, .barNav ul li:first-child a {
    border-radius: 25px 0px 0px 25px;
}

.index main nav ul li:last-child a, .barNav ul li:last-child a {
    border-radius: 0px 25px 25px 0px;
}

@media screen and (max-width:800px) {
    .index main nav ul {
        flex-direction: column;
    }

    .index main nav ul li:first-child a{
        border-radius: 25px 25px 0px 0px;
    }
    
    .index main nav ul li:last-child a{
        border-radius: 0px 0px 25px 25px;
    }
}

/* ------ A Propos & Association ------ */

.aProposEagements {
    display: flex;
    justify-content: center;
    height: max-content;
}

.aProposEagements section {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.aProposEagements article {
    padding: 20px;
    margin: 20px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px wheat;
    border-radius: 25px;
    flex-basis: 100%;
}

.aProposEagements article h2 {
    margin: 0px;
    margin-bottom: 10px;
}

.ideklic {
    float: left;
    margin: 0 6px 0 0;
}

@media screen and (max-width: 1000px) {
    .aProposEagements {
        flex-direction: column;
    }
}

/* ------ Projet ------ */

.mesProjets{
    display: flex;
}

.mesProjets article {
    border: 2px solid white;
    box-shadow: 5px 5px 5px wheat;
    border-radius: 25px;
    flex-basis: 50%;
    margin: 20px;
    padding: 20px;
}

.projet {
    margin-top: 20px;
    margin-bottom: 5px;
}

.projetIUT p {
    text-indent: 10px;
}

.mesProjets div {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 3px white;
}

.mesProjets div:hover {
    border: solid 3px orange;
}

.mesProjets div:active {
    background-color: orange;
}

.mesProjets h2 p {
    font-size: 18px;
    text-indent: 0;
    display: contents;
}

.mesProjets h3 {
    margin-left: 5px;
}

.mesProjets a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 800px) {
    .mesProjets {
        flex-direction: column;
    }
}

/* ------ Details Projets ------ */

.page_projet div, .page_projet_perso div{
    display: flex;
}

.corps_projet div {
    display: flex;
    align-items: center;
}

.page_projet div article, .page_projet_perso div article {
    border: 2px solid white;
    box-shadow: 5px 5px 5px wheat;
    border-radius: 25px;
    flex-basis: 50%;
    margin: 20px;
    padding: 20px;
}

.page_projet div article:first-of-type {
    flex-basis: 100%;
}

.page_projet .competencesprojet img {
    float: left;
    margin: 5px;
    width: 100px;
}

.competencesprojet div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page_projet_perso article div {
    flex-wrap: wrap;
}

.page_projet_perso img {
    transition: transform .1s;
}

.page_projet_perso img:hover{
    transform: scale(1.6);
}

.etape {
    font-weight: bold;
}

.lienTelechargeable {
    font-size: 100%;
}

@media screen and (max-width: 800px) {
    .corps_projet {
        flex-direction: column;
    }
}
