/* ------ A Propos & Association ------ */

.aProposEngements, .parcours {
    display: flex;
    justify-content: center;
    height: max-content;
    margin-top: 7%;
}

.aProposEngements section {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.parcours section {
    width: 100%;
}

.aProposEngements article {
    flex-basis: 100%;
}

.aProposEngements .contact img {
    width: 4vh;
    margin: 1vh 2vh 1vh 1vh;
}

.aProposEngements .contact p {
    display: flex;
    align-items: center;
    text-indent: 0;
}

.aProposEngements article h2, .parcours h2 {
    margin: 0px;
    margin-bottom: 10px;
}

.ideklic {
    float: left;
    margin: 20px 26px 20px 20px;
}

.ideklic li {
    list-style-type: none;
}

.parcours #open_details_erasmus {
    cursor: pointer;
    width: 2vh;
}

.parcours #details_erasmus {
    display: none;
    margin-left: 60px;
    text-indent: 60px;
}

@media screen and (max-width: 1000px) {
    .aProposEngements, .parcours {
        flex-direction: column;
        margin-top: 25%;
    }
}