/* ------ NavBar ------- */
.barNav {
    display: flex;
    gap: 1vh;
    width: 100%;
    height: 9vh;
    position: fixed;
    padding: 1vh;
    z-index: 10;
}

.barNav div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: 100%;
}

.barNav div:first-of-type, .barNav a {
    background-color: orange;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh wheat;
    cursor: pointer;
    margin-bottom: 0.5vh;
    margin-right: 0.5vh;
}

.barNav div:first-of-type, .barNav div:nth-child(2) {
    width: 10vh;
}

#accueil, #aProposPage, #parcoursPage, #associationPage, #projetPage {
    display: none;
}

.barNav a {
    text-decoration: none;
    border-radius: 1vh;
    color: white;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.barNav a:hover, .barNav div:first-of-type:hover {
    background-color: darkorange;
    box-shadow: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0.5vh;
    margin-left: 0.5vh;
}

/* Gestion du lien de la page courrante */
#currentPage {
    background-color: darkred;
    box-shadow: none;
}

#currentPage:hover {
    background-color: darkred;
}

.barNav img {
    height: 60%;
}

@media screen and (max-width: 1000px) {
    .barNav {
        flex-direction: column;
    }
    .barNav div a {
        box-sizing: border-box;
        padding: 3vh;
    }
    .barNav div:nth-child(2) a {
        box-sizing: border-box;
        padding: 1vh;
    }
}

