/* ------ Projet ------ */

.mesProjets{
    display: flex;
    margin-top: 7%;
}

.mesProjets article {
    flex-basis: 50%;
}

.projet {
    margin-top: 20px;
    margin-bottom: 5px;
}

.projetIUT p {
    text-indent: 10px;
}

.mesProjets div div {
    background-color: rgb(255, 245, 223);
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2vh;
}

.divProjet {
    display: flex;
    align-items: center;
}

.divProjet div {
    width: 90%;
}

.mesProjets h2 p {
    font-size: 18px;
    text-indent: 0;
    display: contents;
}

.mesProjets h3 {
    margin-left: 5px;
}

.mesProjets a {
    text-decoration: none;
    color: black;
    background-color: orange;
    box-shadow: 5px 5px wheat;
    border-radius: 25%;
    height: fit-content;
    padding: 0.5vh;
    cursor: pointer;
}

.mesProjets a img {
    width: 7vh;
    height: 7vh;
}

.mesProjets a:hover {
    background-color: darkorange;
    box-shadow: none;
}

@media screen and (max-width: 800px) {
    .mesProjets {
        flex-direction: column;
        margin-top: 25%;
    }
}

/* ------ Details Projets ------ */

header {
    position: relative;
}

header a {
    position: absolute;
    background-color: orange;
    box-shadow: 5px 5px wheat;
    border-radius: 25%;
    left: 2vh;
    top: 16vh;
    width: 8vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a:hover {
    background-color: darkorange;
    box-shadow: none;
}

header a img {
    width: 6vh;
    height: 6vh;
}

h1 {
    margin-top: 8%;
}

.corps_projet {
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

.corps_projet div {
    display: flex;
    align-items: center;
}

.corps_projet section {
    display: flex;
}

.corps_projet section article {
    flex-basis: 50%;
}

#details_comp_tech {
    flex-wrap: wrap;
}

.competencesprojet div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.competencesprojet > div {
    display: flex;
    gap: 6vh;
    margin-bottom: 0;
}

.competencesprojet div div {
    display: flex;
    flex-direction: column;
}

.competencesprojet img {
    height: 11vh;
}

.competencesprojet p {
    text-indent: 0;
    text-align: center;
}

.competencesPN div {
    flex-direction: column;
    align-items: flex-start;
}

.page_projet_perso .corps_projet {
    flex-direction: row;
}

.page_projet div article, .page_projet_perso div article {
    flex-basis: 50%;
}

.page_projet .competencesprojet img {
    float: left;
    margin: 5px;
    width: 100px;
}

.page_projet_perso article div {
    flex-wrap: wrap;
}

.page_projet_perso img {
    transition: transform .1s;
}

.page_projet_perso img:hover{
    transform: scale(1.6);
}

.etape {
    font-weight: bold;
}

.lienTelechargeable {
    font-size: 100%;
}

.page_projet iframe {
    width: 75%;
    height: 75vh;
}

@media screen and (max-width: 800px) {
    .corps_projet {
        flex-direction: column;
    }

    h1 {
        margin-top: 30%;
    }
}