/* ------ Projet ------ */

.mesProjets{
    display: flex;
    margin-top: 7%;
}

.mesProjets article {
    flex-basis: 50%;
}

.projet {
    margin-top: 20px;
    margin-bottom: 5px;
}

.projetIUT p {
    text-indent: 10px;
}

.mesProjets div {
    background-color: rgb(255, 245, 223);
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 3px rgb(255, 245, 223);
}

.mesProjets div:hover {
    border: solid 3px orange;
}

.mesProjets div:active {
    background-color: orange;
}

.mesProjets h2 p {
    font-size: 18px;
    text-indent: 0;
    display: contents;
}

.mesProjets h3 {
    margin-left: 5px;
}

.mesProjets a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 800px) {
    .mesProjets {
        flex-direction: column;
        margin-top: 25%;
    }
}

/* ------ Details Projets ------ */

h1 {
    margin-top: 8%;
}

.corps_projet {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}

.corps_projet div {
    display: flex;
    align-items: center;
}

.competencesprojet div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.competencesprojet > div {
    display: flex;
    gap: 6vh;
    margin-bottom: 0;
}

.competencesprojet div div {
    display: flex;
    flex-direction: column;
}

.competencesprojet img {
    height: 11vh;
}

.competencesprojet p {
    text-indent: 0;
    text-align: center;
}

.page_projet_perso .corps_projet {
    flex-direction: row;
}

.page_projet div article, .page_projet_perso div article {
    flex-basis: 50%;
}

.page_projet .competencesprojet {
    flex-basis: 0;
    height: fit-content;
}

.page_projet div article:first-of-type {
    flex-basis: 100%;
}

.page_projet .competencesprojet img {
    float: left;
    margin: 5px;
    width: 100px;
}

.page_projet_perso article div {
    flex-wrap: wrap;
}

.page_projet_perso img {
    transition: transform .1s;
}

.page_projet_perso img:hover{
    transform: scale(1.6);
}

.etape {
    font-weight: bold;
}

.lienTelechargeable {
    font-size: 100%;
}

.page_projet iframe {
    width: 75%;
    height: 75vh;
}

@media screen and (max-width: 800px) {
    .corps_projet {
        flex-direction: column;
    }

    h1 {
        margin-top: 30%;
    }
}